@import '../../assets/styles/app';

.dashboard-page {
  .requests-table {
    td, th {
      font-weight: $font-weight-normal;
    }

    tbody tr {
      td {
        min-width: 100px;
      }
    }
  }

  .visitElement {
    max-width: 50%;
    width: 33%;
    min-width: 65px;
  }
}

.datepicker {
  display: flex;
  width: 30%;
  @include media-breakpoint-down(md) {
    width: 50%;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
